@import "../../fonts&colors";
@import "../../components/nav/navstyles";


a:hover {
  text-decoration: none !important;
}

body {
  height: 100vh;
}

.container-fluid {

  padding-right: 0;
  padding-left: 0;

}


