@import "../../fonts&colors";
@import "../../components/nav/navstyles";


a:hover {
  text-decoration: none !important;
}

body {

  height: 100vh;
}



.bioContainer {

  font-family: $MainFont;
  background-color: white;
  text-align: center;
  padding-top: 30px;
  box-shadow: 25px 25px $ContainerBoxShadowColor;
  height: 100%;


  h1 {

    font-style: normal;
    font-size: 40px;
  }

}

.bioPic {
  display: block;
  margin: auto;
  border-radius: 50%;


}

.aboutMeText {

  font-family: $MainFont;
  font-size: 20px;
  padding: 20px;
  text-align: left;

}



