@import "universal_page_styles.scss";

.formContainer {

  font-family: $MainFont;
  padding: 10px;

}


.nameHeader, .thanksContainer {

  padding: 30px;
  text-align: center;
  font-family: $BoldFont;
  font-style: italic;

}

.thanksContainer {

  h1 {
    font-size: 10vw;


  }

}
.form-group {
  font-size: 30px;
}