@import "universal_page_styles.scss";

.photoName {

  font-family: $MainFont;
  padding: 20px;

  h1 {
    font-weight: $Heavy;
  }


}

.columnLayout {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
  padding: 10px;
  align-items: center;


  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;


  }

}


.theShot {
  position: relative;
  background-color: $ContainerColor;
}

