@import "universal_page_styles.scss";

.photoName {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .3s;


}

.columnLayout {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
  padding: 10px;
  align-items: center;


  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;


  }

}


.theShot {
  position: relative;
}

.theShot:hover .photoName {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);

}