@import "../fonts&colors";

.indexNavigation {
  text-align: center;

  h1 {
    color: $DefaultTextColor;
    display: inline-block;
    font-family: $MainFont;
    padding: 20px;
    text-decoration: none;
    white-space: pre-wrap;

    transition: color 0.2s;
  }

}

.link:hover {
background-color: $AccentColor;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .indexNavigation {

    h1 {
      font-family: $MainFont;
      padding: 20px;
      text-decoration: none;
      white-space: pre-wrap;
    }

  }
}