@import url("https://use.typekit.net/vpd3vih.css");

$MainFont: futura-pt, sans-serif;
$BoldFont: futura-pt-bold, sans-serif;
$CondensedFont: futura-pt-condensed, sans-serif;

$AccentColor: #add9f4;
$BackgroundColor: white;
$DefaultTextColor: #000000;

$Regular: 400;
$Heavy: 700;

